body {
    font-family: 'Roboto', sans-serif;

}
body ul {
    padding: 0;
}
li {
    list-style: none;
}
li a {
    text-decoration: none;
}
button {
	border: none;
	outline: none;
}
:root {
	box-sizing: border-box;
}
*,
::before,
::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}
.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.main-page{
	position: relative;
	background-image: url(../img/header_bg.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	max-height: 1000px;
}
.header {
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 93px;
    border-bottom: 1px solid #fff;
}
.logo {
	background-color: #ff5656;
	width: 243px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo img{
	height: 40px;
}
.nav-menu {
	display: flex;
}
.nav-menu a {
	color: #203352;
}
.menu {
	display: flex;
	justify-content: space-between;
	width: 243px;
	margin-right: 10px;
}
.scan {
	display: none;
}
.about {
 	position: relative;
    transition: .3s ease all;
}
.about:after{
	content: '';
	position: absolute;
	border-bottom: 3px solid #ff5656;
	width: 100%;
	top: 55px;
	display: none;
}
.about:hover:after{
	display: block;
}
.menu a:hover{
	color: #ff5656;
}
.login{
	position: relative;
    transition: .3s ease all;

}
.login:before{
	content: url(../img/login.svg);
	display: block;
	height: 30px;
	width: 30px;
	position: absolute;
	left: -35px;
	top: -5px;

}
.login:hover:before{
	content: url(../img/login-hover.svg);

}
.lang {
	display: flex;
    transition: .3s ease all;
}
.lang-select {
	padding: 10px;
	background-color: #fff;
	margin: 0 5px;
	border-radius: 50%;

}
.lang-select:hover {
	background-color: #000;
	color: #fff;
}

.lang-select.active {
	background-color: #ff5656;
	color: #fff;
}
.info-block {
	position: relative;
}
.bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 460px;
	height: calc(100vh - 94px);
	max-height: 906px;
	background-color: rgba(0,0,0,.6);
	z-index: 1;
}
.bangles {
	width: 460px;
	display: flex;
	justify-content: space-between;
	padding: 0 26px 0 40px;
}
.bangle h2 {
	margin: 0;
	font-size: 30px;
	font-weight: 400;
	color: #fff;
	text-align: center;
}
.bangle {
	position: relative;
	z-index: 2;
	text-align: center;
}
.title-item {
	border-bottom: 1px solid #fff;
	width: 105px;
	display: inline-block;
	padding: 35px 0 20px 0;
}
.bangle-image {
	display: block;
	text-align: center;
	margin-top: 20px;
}
.bangle-image img {
	height: 100%;
}
.description {
	width: 460px;
	position: relative;
	z-index: 2;
	padding: 0 45px;
	margin-top: 50px;
}
.description p {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
}
.description p span {
	color: #ff5656;
	font-style: italic;
}
.sale {
	position: absolute;
	flex-direction: column;
	right: calc((100vw - 1140px) / 2);
	bottom: 30px;
	z-index: 3;
}
.headline {
	color: #fff;
	font-size: 35px;
	font-weight: 500;
	text-transform: uppercase;
}
.medid {
	text-align: right;
}
.image-item {
	height: 100px;
}
.btn {
	display: block;
	border-radius: 50px;
	margin-left: auto;
	padding: 30px 70px;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	background: rgba(238,81,92,1);
	background: -moz-linear-gradient(left, rgba(238,81,92,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(84,147,242,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop (0%, rgba(238,81,92,1)), color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(246,41,12,1)), color-stop(0%, rgba(240,47,23,1)), color-stop(100%, rgba(84,147,242,1)));
	background: -webkit-linear-gradient(left, rgba(238,81,92,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(84,147,242,1) 100%);
	background: -o-linear-gradient(left, rgba(238,81,92,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(84,147,242,1) 100%);
	background: -ms-linear-gradient(left, rgba(238,81,92,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(84,147,242,1) 100%);
	background: linear-gradient(to right, rgba(238,81,92,1) 0%, rgba(241,111,92,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(84,147,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee515c', endColorstr='#5493f2', GradientType=1 );
}
.content {
	background-color: #f2f2f2;
	position: relative;
}
.modern {
	text-align: center;
	color: #585858;
	font-size: 34px;
	font-weight: 300;
	padding: 42px 0;
}
.advantages {
	display: flex;
	justify-content: space-between;
}
.advantages h3 {
	color: #008cce;
	font-size: 24px;
	font-weight: 300;
	padding-top: 50px;
}
.promo-block {
	position: relative;
	flex-basis: 30%;
	text-align: center;
}
.promo-block p {
	color: #676767;
	font-size: 18px;
	font-weight: 300;
	padding: 34px 30px 40px;
}
.heartrate:after {
	content: url("../img/heart_rate.png");
	display: inline-block;
	position: absolute;
	right: 343px;
	top: 70px;
}
.heartrate:before {
	content: url("../img/heart_rate.png");
	display: inline-block;
	position: absolute;
	left: 343px;
	top: 70px;
}
.black-bangle {
	position: absolute;
	right: 0;
	top: 115px;
	display: block;
	text-align: center;
	height: 230px;
}
.black-bangle img {
	height: 100%;
}
.form {
	text-align: center;
	color: #585858;
	font-size: 34px;
	font-weight: 300;
	padding: 48px 0;
}
.about-bungle {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.for-whom {
	display: block;
	position: relative;
	width: 555px;
	height: 405px;
	margin-bottom: 30px;
	transition: 0.5s;
}
.for-whom:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.for-whom img {
	width: 100%;
	height: 100%;
}
.info {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.about-from {
	display: flex;
	justify-content: space-between;
	background-color: white;
	height: 100px;
	align-items: center;
	padding: 0 20px;
}
.about-from h3 {
	color: #585858;
	font-size: 24px;
	font-weight: 400;
	text-align: center;
}
.btn-info {
	cursor: pointer;
}
.red-bangle {
	position: absolute;
	left: 0;
	bottom: 215px;
	display: block;
	text-align: center;
	height: 135px;
}
.red-bangle img {
	height: 100%;
}
/*.inline-image {*/
	/*display: flex;*/
	/*justify-content: space-between;*/
	/*padding-bottom: 50px;*/
/*}*/
.inline-image {
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}
.image-item {
	display: flex;
	width: 165px;
	height: 165px;
}
.item-1 {
	background-image: url("../img/a.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.item-2 {
	background-image: url("../img/b.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.item-3 {
	background-image: url("../img/c.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.item-4 {
	background-image: url("../img/d.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.item-5 {
	background-image: url("../img/e.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.item-6 {
	background-image: url("../img/f.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.footer-container {
	width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 95px;
	color: #203352;
}
.footer h3 {
	font-weight: bold;
	font-size: 16px;
}
.footer a {
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	color: #203352;
	transition: 0.5s ease all;
}
.footer a:hover {
	color: #ff5656;
    text-decoration: underline;
}

/*Медиазапросы пишешь НЕ правильно. Сначала надо писать большие разрешение и потом меньше и меньше
Иначе у тебя не будут они срабатывать так как считывание происходит сверху вниз, у тебя получается
стили который должны быть подгружены позднее подгружается раньше и их перетерают более те которые должны
быть более раними
С адаптивом какая то беда, помочь разобраться или сам будешь думать?.*/


/*Медиазапросы*/
@media all {
	.container {
		width: 100%;
	}
}
@media screen and (max-width: 1200px) and (min-width: 1024px){
	.sale {
		width: 50%;
		right: 15px;
	}
	.medid-item {
		width: 80%;
	}
	.form {
		padding: 24px 0;
	}
	.black-bangle {
		display: none;
	}
	.red-bangle {
		display: none;
	}
	.about-bungle {
		justify-content: space-evenly;
		width: 90%;
		margin: 0 auto;
	}
	.for-whom {
		width: 45%;
		height: 45%;
	}
	.footer-container {
		width: 100%;
	}
}
@media (max-width: 1024px) and (min-width: 640px) {
	.image-item {
		width: 150px;
		height: 150px;
	}
}
@media screen and (max-width: 425px) {
}
@media screen and (max-width: 320px) {


}

























