body{
    font-family: 'Open Sans', sans-serif;
    color: #ffff;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    }
.header{
    background: url("../img/header_bg.png") no-repeat center/cover;
    height: 1080px;
    width: 100%;
}
.logo-nav{
    display: flex;
    justify-content: space-between;  /* Расположение контента по краям блока*/
    align-items: center;  /*Выравнивание контента в одну линию*/
    width: 1140px;
    margin: 0 auto;  /*Выравнивание блока по центру*/
    height: 95px;
    border-bottom: 1px solid #fafafa;
}
.logo{
    background-color: #ff5656;
    height: 93px;
    width: 234px;
}
.medid_logo{
    display: block;
    padding: 25px;
}
.menu{
    width: 360px;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.menu-nav{
    display: flex;
    margin: 0 auto;
    align-items: center;
}
.info{
    display: flex;
    margin-right: 80px;
}

.login{    /* Выравнивание в одну линию ссылки с иконкой ссылки */
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    height: 15px;
}

.menu li {
    list-style: none;
}

.menu li a{
    text-decoration: none;
    color: #203352;
}
.menu li a img{
    margin-right: 15px;
}
.menu-lang {
    padding-left: 0;
    line-height: 2.5; /*отступы между строками*/
}
.menu-lang .lang{
    background-color: #ffffff;
    font-size: 16px;
    border-radius: 20px;
    padding: 7px;
}
.container-bangle{
    width: 1140px;
    margin: 0 auto;  /*Выравнивание блока по центру*/
    height: 985px;
    display: flex;
    justify-content: space-between;
}
.bangle{
    height: 983px;
    width: 458px;
    background-color: rgba(0,0,0,0.5);
    flex-direction: row;
}

.bangle-img{
    display: flex;
    justify-content: space-between;
    margin-top: 105px;

}
.bangle_qr{
    margin-left: 41px;
}
.bangle_rfid{
    margin-left: 53px;
}
.promo h3 {
    font-size: 20px;
    font-weight: 400;
}
.promo span{
    color: #ff5656;
}
.promo{
    margin: 54px 60px 0 47px;

}
.logo-title{
    margin-left: 97px;
    height: 983px;
    width: 682px;
}
.logo_medid{
    width: 572px;
    height: 125px;
    margin-top: 570px;
    margin-right: 0;
}
.title{
    position: absolute;
    margin-top: 760px;
    margin-left: 460px;

}
.order{
    border-width: 0;
    margin-left: 400px;
    margin-bottom: 70px;
    background: linear-gradient(90deg, rgba(235,83,94,1) 0%, rgba(85,147,241,1) 100%);
    border-radius: 40px;
    width: 244px;
    height: 74px;
    font-size: 18px;
    font-weight: 700;
    color: white;
}
.main{
    flex: 1 0 auto;
}

.footer{
    flex-shrink: 0;
}